.content {
  min-height: 500px;
}
.about-me { text-align: center; }

#triggerMenuShadow {
  position: abosulte;
  top: 50%;
}

main {
  background: #FFF;
  padding: 25px;
}
#portfolio-list > li { 
	overflow: hidden;
	ul { 
		margin: 0;
		padding: 0;
		li { 
			margin: 0;
			padding: 0;
		}
	}
	.images {
		position: relative;
		height: 85%;
  	width: 100%;
  	> ul {
  		width: 100%;
  		height: 100%;
	  	li {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
				img {
					height: auto;
					width: 100%;
				}
			}
		}
	}
	.controls {
		height: 15%;
		ul { 
			height: 100%;
			padding-top: 3px;
		}
		li {
			display: inline-block;
			height: 14px;
			width: 14px;
			padding: 3px;
			border: 1px solid black;
			margin-right: 7px;
			cursor: pointer;
			div {
				height: 10px;
				width: 10px;
				padding: 2px;
			}
			&.active div { background: green; }
			&:hover { @extend .active; }
		}
	}
	&.yti ul li.logo {
		background: #000 url(/images/portfolio/yti/yti_logo.png) no-repeat center center;
		background-size: contain;
	}
}
#welcome {
	color: #5050ff;
  font-size: 3em;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
}
.intro-text {
	padding: 4em 0;
	.icon {
		padding-top: 3em;
		text-align: center;
		i {   
			font-size: 4em;
  		color: #cecece;
		}
	}
}
#top-skills-wrapper {
	opacity: 0;
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,-.0025,0,20,0,1);
}
#good-at-wrapper { 
	@extend #top-skills-wrapper; 
	padding: 5em 0px;
}
#scratching-surface-wrapper { 
	@extend #top-skills-wrapper;
	padding-bottom: 5em;
}

.skills li {
	border-top: 1px solid #d0d0d0;
  padding: 1.6em 0;
  &:first-child { border-top: none; }
	h3 { 
		margin: 0;
		text-transform: uppercase;
  	font-size: 1em;
  	padding-bottom: 0.5em;
  	color: rgb(103, 92, 255);
	}
	p { margin: 0; }
	&.server {
		.favorite-stack { 
			padding-top: 0.8em;
		}
		ul.favorite-stack-list li {
			padding: 0;
			border-top: 0;
			.stack-title { 
				font-weight: bold;
				font-size: 0.8em;
				text-transform: uppercase;
			  width: 130px;
			  display: block;
			  float: left;
			}
			ul.other-software {
				clear: left;
			  margin-left: 1.3em;
			  padding-top: 0.3em;
			}
		}
	}
}
.header-wrapper {
	overflow: hidden;
  text-align: center;
}
span.name { font-weight: bold; }
.form.contact {
	input[type="text"] {
		width: 100%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		height: 50px;
		border: solid 1px rgb(190, 190, 190);
	  text-transform: uppercase;
	  font-size: 14px;
	  font-family: Roboto;
	  padding-left: 50px;
	  outline: none;
	}
	textarea {
		width: 100%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		height: 300px;
		padding: 15px;
		outline: none;
	}
	.input-wrapper { position: relative; }
	i {
		position: absolute;
		left: 10px;
		top: 6px;
	  font-size: 35px;
	  color: rgb(205, 205, 205);
	}
	button {
		border: none;
	  background: #2C383C;
	  color: #FFF;
	  text-transform: uppercase;
	  font-size: 0.8em;
	  padding: 0.6em 1.6em;
	  border-radius: 5px;
	}
}
.input-wrapper { 
	margin-bottom: 15px;
	&.error {
		input[type="text"], textarea {
			border-color: #FF5353;
		}
		i { color: #FF5353; }
		.error {
			color: #FFF;
		  background: #FF5353;
		  padding-top: 10px;
		  margin-top: -10px;
		  padding: 16px 9px 5px;
		  text-transform: uppercase;
		  font-size: .8em;
		}
	}
}
.portfolio {
	clear: both;
	.image-wrapper {
	  border: 1px solid #000;
	  overflow: hidden;
	  display: inline-block;
	  position: relative;
		ul.images {
			width: 1800px;
			display: inline-block;
		  list-style: none;
		  padding: 0;
		  margin: 0;
		  position: relative;
		  li {
		    display: inline-block;
		    float: left;

		    img {
		      object-fit: cover;
		      object-position: center center;
		    }
		  }
		}
	}
	.controls {
		ul { 
			padding-top: 3px;
		}
		li {
			display: inline-block;
			font-size: 16px;
			margin-right: 7px;
			cursor: pointer;
			//&.active div { background: green; }
			//&:hover { @extend .active; }
		}
	}
}