@import "_mixins";

#navigation {
  #menuToggle {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    text-align: center;
    cursor: pointer;
    i { color: #daddde; }
  }
  .main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 89.5%;
    border-left: 1px solid #222b2e;
    li {
    	display: block;
      border-bottom: 1px solid #222b2e;
      border-top: 1px solid #3c4042;
      &:first-child { border-top: none; }
    	a {
    		text-decoration: none;
    		font-size: 15px;
        text-transform: uppercase;
        color: #daddde;
        padding: 14px 30px;
        display: block;
        i {
          font-size: 25px;
          vertical-align: bottom;
          min-width: 27px;
          text-align: center;
          padding-right: 10px;
        }
    	}
      &:hover, &.active {
        &#about { @include menuColour(#fffd36); }
        &#blog { @include menuColour(#ff2929); }
        &#portfolio { @include menuColour(#4ce84f); }
        &#contact { @include menuColour(#4242ff); }
      }
      &.active { border-bottom-width: 5px; }
    }
  }
}

#banner {
  text-align: center;
  padding: 35px 0px;
  background: #eaeaea;
  img { 
    width: 50%;
    height: auto;
  }
}
ul.social-wrapper {
  float: right;
  li {
    float: left;
    padding-bottom: 0.3em;
    a {
      font-size: 3em;
      margin-left: 0.3em;
      color: #cecece;
      &.linkedin:hover { color: rgb(0, 119, 181); }
      &.facebook:hover { color: rgb(59, 89, 152); }
      &.twitter:hover { color: rgb(0, 182, 241); }
      &.drupal:hover { color: rgb(0, 115, 186); }
    }
  }
}