 @import "_init";

.container, #app {
  @include container;
}
.content {
  @include span(12 of 12);
}
aside {
  @include span(3 of 12 inside no-gutters);
}
main {
  @include span(9 of 12 inside no-gutters);
}
#portfolio-list > li {
	@include span(6 of 6);
	@include breakpoint($desktop) {
		width: 250px;
		height: 250px;
	}
}
#portfolio-list .images li {
	@include breakpoint($desktop) {
		width: 250px;
		height: 212px;
	}
}
.form.contact {
	.left {
		@include span(6 of 6);
		@include breakpoint($tablet) {
			@include span(6 of 12);
		}
	}
	.right {
		@include span(6 of 6);
		@include breakpoint($tablet) {
			@include span(6 of 12 last);
		}
	}
}

.portfolio {
	margin-bottom: 2em;
	text-align: center;
	@include breakpoint($desktop) { 
		float: left;
		text-align: left;
	}
	&:nth-child(3n+2) {
		@include breakpoint($desktop) { margin: 0 5% 2em 5%; }
	}
	.image-wrapper {
		width: 250px;
		height: 250px;
		ul.images li {
			width: 250px;
		  height: 250px;
		  img {
		  	width: 250px;
		  	height: 250px;
		  }
		}
	}
}