.content {
  min-height: 500px;
}

.about-me {
  text-align: center;
}

#triggerMenuShadow {
  position: abosulte;
  top: 50%;
}

main {
  background: #FFF;
  padding: 25px;
}

#portfolio-list > li {
  overflow: hidden;
}
#portfolio-list > li ul {
  margin: 0;
  padding: 0;
}
#portfolio-list > li ul li {
  margin: 0;
  padding: 0;
}
#portfolio-list > li .images {
  position: relative;
  height: 85%;
  width: 100%;
}
#portfolio-list > li .images > ul {
  width: 100%;
  height: 100%;
}
#portfolio-list > li .images > ul li {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#portfolio-list > li .images > ul li img {
  height: auto;
  width: 100%;
}
#portfolio-list > li .controls {
  height: 15%;
}
#portfolio-list > li .controls ul {
  height: 100%;
  padding-top: 3px;
}
#portfolio-list > li .controls li {
  display: inline-block;
  height: 14px;
  width: 14px;
  padding: 3px;
  border: 1px solid black;
  margin-right: 7px;
  cursor: pointer;
}
#portfolio-list > li .controls li div {
  height: 10px;
  width: 10px;
  padding: 2px;
}
#portfolio-list > li .controls li.active div, #portfolio-list > li .controls li:hover div {
  background: green;
}
#portfolio-list > li.yti ul li.logo {
  background: #000 url(/images/portfolio/yti/yti_logo.png) no-repeat center center;
  background-size: contain;
}

#welcome {
  color: #5050ff;
  font-size: 3em;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
}

.intro-text {
  padding: 4em 0;
}
.intro-text .icon {
  padding-top: 3em;
  text-align: center;
}
.intro-text .icon i {
  font-size: 4em;
  color: #cecece;
}

#top-skills-wrapper, #good-at-wrapper, #scratching-surface-wrapper {
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 20, 0, 1);
}

#good-at-wrapper {
  padding: 5em 0px;
}

#scratching-surface-wrapper {
  padding-bottom: 5em;
}

.skills li {
  border-top: 1px solid #d0d0d0;
  padding: 1.6em 0;
}
.skills li:first-child {
  border-top: none;
}
.skills li h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: 0.5em;
  color: #675cff;
}
.skills li p {
  margin: 0;
}
.skills li.server .favorite-stack {
  padding-top: 0.8em;
}
.skills li.server ul.favorite-stack-list li {
  padding: 0;
  border-top: 0;
}
.skills li.server ul.favorite-stack-list li .stack-title {
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  width: 130px;
  display: block;
  float: left;
}
.skills li.server ul.favorite-stack-list li ul.other-software {
  clear: left;
  margin-left: 1.3em;
  padding-top: 0.3em;
}

.header-wrapper {
  overflow: hidden;
  text-align: center;
}

span.name {
  font-weight: bold;
}

.form.contact input[type="text"] {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 50px;
  border: solid 1px #bebebe;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Roboto;
  padding-left: 50px;
  outline: none;
}
.form.contact textarea {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 300px;
  padding: 15px;
  outline: none;
}
.form.contact .input-wrapper {
  position: relative;
}
.form.contact i {
  position: absolute;
  left: 10px;
  top: 6px;
  font-size: 35px;
  color: #cdcdcd;
}

.input-wrapper {
  margin-bottom: 15px;
}
.input-wrapper.error input[type="text"], .input-wrapper.error textarea {
  border-color: #FF5353;
}
.input-wrapper.error i {
  color: #FF5353;
}
.input-wrapper.error .error {
  color: #FFF;
  background: #FF5353;
  padding-top: 10px;
  margin-top: -10px;
  padding: 16px 9px 5px;
  text-transform: uppercase;
  font-size: .8em;
}
