#navigation #menuToggle {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  text-align: center;
  cursor: pointer;
}
#navigation #menuToggle i {
  color: #daddde;
}
#navigation .main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: 89.5%;
  border-left: 1px solid #222b2e;
}
#navigation .main-menu li {
  display: block;
  border-bottom: 1px solid #222b2e;
  border-top: 1px solid #3c4042;
}
#navigation .main-menu li:first-child {
  border-top: none;
}
#navigation .main-menu li a {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #daddde;
  padding: 14px 30px;
  display: block;
}
#navigation .main-menu li a i {
  font-size: 25px;
  vertical-align: bottom;
  min-width: 27px;
  text-align: center;
  padding-right: 10px;
}
#navigation .main-menu li:hover#about, #navigation .main-menu li.active#about {
  border-bottom-color: #fffd36;
}
#navigation .main-menu li:hover#about i, #navigation .main-menu li.active#about i {
  color: #fffd36;
}
#navigation .main-menu li:hover#blog, #navigation .main-menu li.active#blog {
  border-bottom-color: #ff2929;
}
#navigation .main-menu li:hover#blog i, #navigation .main-menu li.active#blog i {
  color: #ff2929;
}
#navigation .main-menu li:hover#portfolio, #navigation .main-menu li.active#portfolio {
  border-bottom-color: #4ce84f;
}
#navigation .main-menu li:hover#portfolio i, #navigation .main-menu li.active#portfolio i {
  color: #4ce84f;
}
#navigation .main-menu li:hover#contact, #navigation .main-menu li.active#contact {
  border-bottom-color: #4242ff;
}
#navigation .main-menu li:hover#contact i, #navigation .main-menu li.active#contact i {
  color: #4242ff;
}
#navigation .main-menu li.active {
  border-bottom-width: 5px;
}

#banner {
  text-align: center;
  padding: 35px 0px;
  background: #eaeaea;
}
#banner img {
  width: 50%;
  height: auto;
}

ul.social-wrapper {
  float: right;
}
ul.social-wrapper li {
  float: left;
  padding-bottom: 0.3em;
}
ul.social-wrapper li a {
  font-size: 3em;
  margin-left: 0.3em;
  color: #cecece;
}
ul.social-wrapper li a.linkedin:hover {
  color: #0077b5;
}
ul.social-wrapper li a.facebook:hover {
  color: #3b5998;
}
ul.social-wrapper li a.twitter:hover {
  color: #00b6f1;
}
ul.social-wrapper li a.drupal:hover {
  color: #0073ba;
}
