/*
 Import this file to individual scss files like so:
 @import "init";
*/
/* needed to print ie9 class */
.container, #app {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}
.container:after, #app:after {
  content: " ";
  display: block;
  clear: both;
}

.content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

aside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
}

main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
}

#portfolio-list > li {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 900px) {
  #portfolio-list > li {
    width: 250px;
    height: 250px;
  }
}
.lt-ie9 #portfolio-list > li {
  width: 250px;
  height: 250px;
}

@media (min-width: 900px) {
  #portfolio-list .images li {
    width: 250px;
    height: 212px;
  }
}
.lt-ie9 #portfolio-list .images li {
  width: 250px;
  height: 212px;
}

.form.contact .left {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 640px) {
  .form.contact .left {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
.lt-ie9 .form.contact .left {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
.form.contact .right {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 640px) {
  .form.contact .right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
.lt-ie9 .form.contact .right {
  width: 49.15254%;
  float: right;
  margin-right: 0;
}

.portfolio {
  margin-bottom: 2em;
  text-align: center;
}
@media (min-width: 900px) {
  .portfolio {
    float: left;
    text-align: left;
  }
}
.lt-ie9 .portfolio {
  float: left;
  text-align: left;
}
@media (min-width: 900px) {
  .portfolio:nth-child(3n+2) {
    margin: 0 5% 2em 5%;
  }
}
.lt-ie9 .portfolio:nth-child(3n+2) {
  margin: 0 5% 2em 5%;
}
.portfolio .image-wrapper {
  width: 250px;
  height: 250px;
}
.portfolio .image-wrapper ul.images li {
  width: 250px;
  height: 250px;
}
.portfolio .image-wrapper ul.images li img {
  width: 250px;
  height: 250px;
}
