#colorbox .images {
  width: 100%;
  height: 70%;
  padding-top: 15px;
  position: relative;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}
#colorbox .images .image {
  padding: 0;
  margin: 0;
}
#colorbox .images .image img {
  object-fit: cover;
  object-position: center center;
}
#colorbox .images:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #fff;
  border-left: 576px solid transparent;
  border-right: 576px solid transparent;
}
#colorbox .text p {
  font-size: 0.9em;
}
#colorbox .owl-prev, #colorbox .owl-next {
  position: absolute;
  top: 50%;
  background: #2C383C;
  padding: 0.5em;
  left: 0;
  font-size: 32px;
  color: #daddde;
}
#colorbox .owl-next {
  left: auto;
  right: 0;
}
#colorbox .visit a {
  border: none;
  background: #2C383C;
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.6em 1.6em;
  border-radius: 5px;
  color: #daddde;
  text-decoration: none;
  display: inline-block;
}
